<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>New Person</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

<!--Navigation Admin-->
<nav th:replace="base :: nav2Admin"></nav>
<!--/.Navigation Admin-->

<form action="#" th:action="@{/addperson}" th:object="${person}" method="post" >
    <!--<input type="text" th:field="*{perosn.id}" />-->
    <input type="hidden" th:field="*{id}" />
    <p> <h4>M Number</h4> <input type="text" th:field="*{mNumber}"/></p>
    <p><h4>First Name</h4> <input type="text" th:field="*{firstName}"/></p>
    <p> <h4> Last Name  </h4> <input type="text" th:field="*{lastName}"/></p>
    <p> <h4> Username  </h4> <input type="text" th:field="*{username}"/></p>
    <p> <h4> Password  </h4> <input type="text" th:field="*{password}"/></p>
    <p> <h4> Email  </h4> <input type="email" th:field="*{email}"/></p>
    <p> <h4> Email  </h4> <input type="date" th:field="*{startDate}"/></p>
    <!--<p th:text="'Sign up time: ' + *{startDate)}">-->

    active
    private String username;

    private String password;

    <!--th:text="${#dates.format(link.date, 'MMM dd, yyyy')}"-->
    <!--<p th:text="'Sign up date: ' + ${#dates.format(newstudent.startDate, 'MMM dd, yyyy')}" />-->
    <p><input type="submit"  value="Submit" class="btn btn-lg btn-default btn-block" /></p>
</form>


<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>