<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Course Add Instructor</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>

<body id="page-top">

    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->
    <div class="container">
        <form action="#" th:action="@{/admin/addinstructortocourse/{crsid}(crsid=${course.id})}" th:object="${aInstructor}" method="post">
            <input type="hidden" th:value="${course.id}">
            <h2> <label th:inline="text">Adding a Instructor for [[${course.courseName}]]</label></h2>
            <select name="crs">
                <option th:each="aInstructor:${instructors}" th:value="${aInstructor.id}" th:text="${aInstructor.firstName}+' '+${aInstructor.lastName}"></option>
            </select><br/>
            <p><input type="submit" value="Add a Instructor!"></p>
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>