<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Add Course</title>


    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>
<form action="#" th:action="@{/admin/addcourse}" th:object="${newcourse}" method="post">
    <input type="hidden" th:field="*{id}">
    <h2>Enter Course</h2>
    <hr class="colorgraph">
    <div class="form-group">
        <input type="text" th:field="*{crn}" name="crn" id="crn" class="form-control input-lg" placeholder="crn" tabindex="3">
    </div>
    <div th:if="${#fields.hasErrors('crn')}"  th:errors="*{crn}"
         class="well alert alert-warning" role="alert"></div>
    <div class="form-group">
        <input type="text" th:field="*{courseName}" name="courseName" id="courseName" class="form-control input-lg" placeholder="courseName" tabindex="4">
    </div>
    <div th:if="${#fields.hasErrors('courseName')}"  th:errors="*{courseName}"
         class="well alert alert-warning" role="alert"></div>
    <div class="form-group">
        <input type="date" th:field="*{startDate}"name="startDate" id="startDate" class="form-control input-lg" placeholder="startDate" tabindex="5">
    </div>
    <div th:if="${#fields.hasErrors('startDate')}"  th:errors="*{startDate}"
         class="well alert alert-warning" role="alert"></div>
    <!--<div class="form-group">-->
        <!--<input type="text" th:field="*{endDate}"name="endDate" id="endDate" class="form-control input-lg" placeholder="endDate" tabindex="5">-->
    <!--</div>-->
    <!--<div th:if="${#fields.hasErrors('endDate')}"  th:errors="*{endDate}"-->
         <!--class="well alert alert-warning" role="alert"></div><div class="form-group">-->
        <!--<input type="text" th:field="*{status}"name="startDate" id="status" class="form-control input-lg" placeholder="status" tabindex="5">-->
    <!--</div>-->
    <!--<div th:if="${#fields.hasErrors('startDate')}"  th:errors="*{startDate}"-->
         <!--class="well alert alert-warning" role="alert"></div>-->
    <hr class="colorgraph">
    <div class="row">
        <div class="col-xs-6 col-md-6"><input type="submit" value="Enter" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
        <!--<div class="col-xs-6 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>-->
    </div>
</form>
</body>
</html>