<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>

<body id="page-top">

<header>
                <div>
                    <form action="#" th:action="@{/admin/addstudenttocourse/{crsid}(crsid=${course.id})}" th:object="${aStudent}" method="post">
                        <input type="hidden" th:value="${course.id}">
                        <h2> <label th:inline="text">Adding a student for [[${course.courseName}]]</label></h2>
                        <select name="crs">
                            <option th:each="aStudent:${students}" th:value="${aStudent.id}" th:text="${aStudent.firstName}+' '+${aStudent.lastName}"></option>
                        </select><br/>
                        <p><input type="submit" value="Add a Student!"></p>
                    </form>
                </div>
</header>
<!-- Bootstrap core JavaScript -->

</div>

</body>

</html>