<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Admin Home</title>
</head>
<body>
    <h1>Admin Class</h1>
    <a href="/admin/addcourse">Add new Course</a>

    <p>List of Courses</p>

    <table class="table table-striped">
        <tr>
            <td><b>ID</b></td>
            <td><b>CRN</b></td>
            <td><b>Course Name</b></td>
            <td><b>Start Date</b></td>
            <td><b>End Date</b></td>
            <td><b>Available</b></td>
            <td><b>Update</b></td>
            <td><b>View Details</b></td>
            <td><b>Delete</p></b></td>
            <td><b>View Evaluations</p></b></td>
        </tr>


        <!--iterate through all the existed courses-->
                <th:block th:each="all:${allcourses}">
            <tr>
                <td><a th:text="${all.id}"></a></td>
                <td><a th:text="${all.crn}"></a></td>
                <td><a th:text="${all.courseName}"></a></td>
                <td><a th:text="${all.startDate}"></a></td>
                <td><a th:text="${all.endDate}"></a></td>
                <td><a th:text="${all.status}"></a></td>
                <td>
                    <a th:href="@{/admin/updatecourse/{id}(id=${all.id})}">Update</a>
                </td>
                <td>
                    <a th:href="@{/admin/admincoursedetails/{id}(id=${all.id})}">View Details</a>
                </td>

                <td>
                    <a th:href="@{/admin/removecourse/{id}(id=${all.id})}">Remove Course</a>
                </td>
                <td>
                    <a th:href="@{/admin/viewcourseevaluations/{id}(id=${all.id})}">View Evaluations</a>
                </td>
            </tr>
        </th:block>
    </table>



    <p>any notifications ("email" from the submit attendance from the teacher)</p>


    <!--Link to view the list of all people-->
    <div><a href="/admin/viewallpeople">View All People</a></div>
    <!--Link to view the list of all teachers-->
    <div><a href="/admin/viewallteachers">View All Teachers</a></div>
    <!--Link to view the list of all students-->
    <div><a href="/admin/viewallstudents">View All Students</a></div>



</body>
</html>