<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>New Communication</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

<!--Navigation Admin-->
<nav th:replace="base :: nav2Admin"></nav>
<!--/.Navigation Admin-->



<div class="container">
    <h1>Communication Form</h1>
    <p th:text="'Date today: ' + ${#dates.format(now, 'MMM dd, yyyy')}"></p>

    <form th:action="@{/admin/processcommunication/add}"
          th:object="${aCommunication}"
          method="POST">
        <fieldset>
            <legend>Communication Form</legend>
            <!--//hidden id-->
            <input type="hidden" th:field="*{id}">
            <!--//mNumber input-->
            M#: <input th:field="*{mNumber}" placeholder="M-Number">

            Name: <input th:field="*{name}" placeholder="Contact Name">

            Phone #: <input th:field="*{phoneNumber}" placeholder="Phone Number ex(xxxyyzzzz)">

            Email: <input th:field="*{email}" placeholder="Email">

            Course:
            <select th:field="*{courseInterestedCRN}">
                <option value="">--select a course--</option>
                <option th:each="course: ${courseList}"
                        th:value="${course.crn}"
                        th:text="${course.courseName}">
                </option>
            </select>
            Call Details: <textarea th:field="*{callDetails}" col="50" row="4"></textarea>
            <input type="submit" value="Submit call/email"></select>

        </fieldset>
    </form>
</div>




<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>