<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>New Person</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>
<body>
    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->
    <div class="container">
        <form action="#"
              th:action="@{/admin/addperson}"
              th:object="${person}"
              method="post" >
            <legend>Add Person</legend>
            <fieldset>
                <!--<input type="text" th:field="*{perosn.id}" />-->
                <input type="hidden" th:field="*{id}" />
                <p> <h4>M Number</h4> <input type="text" th:field="*{mNumber}"/></p>
                <div th:if="${#fields.hasErrors('mNumber')}"  th:errors="*{mNumber}"
                     class="well alert alert-warning" role="alert"></div>
                <p><h4>First Name</h4> <input type="text" th:field="*{firstName}"/></p>
                <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"
                class="well alert alert-warning" role="alert"></div>
                <p> <h4> Last Name  </h4> <input type="text" th:field="*{lastName}"/></p>
                <div th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"
                     class="well alert alert-warning" role="alert"></div>
                <p> <h4> Username  </h4> <input type="text" th:field="*{username}"/></p>
                <div th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"
                     class="well alert alert-warning" role="alert"></div>
                <p> <h4> Password  </h4> <input type="text" th:field="*{password}"/></p>
                <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"
                     class="well alert alert-warning" role="alert"></div>
                <p> <h4> Email  </h4> <input type="text" th:field="*{email}"/></p>
                <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"
                     class="well alert alert-warning" role="alert"></div>
                <p> <h4> Start Date</h4> <input type="date" th:field="*{startDate}"/></p>
                <div th:if="${#fields.hasErrors('startDate')}"  th:errors="*{startDate}"
                     class="well alert alert-warning" role="alert"></div>
                <p><input type="submit"  value="Submit" class="btn btn-lg btn-default btn-block" /></p>

            </fieldset>
        </form>
    </div>



    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>