<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Course Evaluation</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>
<body id="admin-page">

<!--Navigation Admin-->
<nav th:replace="base :: nav2Admin"></nav>
<!--/.Navigation Admin-->
<div class="container">
    <h2> <label th:inline="text">Course Evaluation for : [[${course.courseName}]]</label></h2>

    <div th:if="${evals.isEmpty()}">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">Warning!</div>
            </div>
            <div class="panel-body">
                <p>No Evals for this class are available <a href="/admin/home">Click here to go home</a></p>
            </div>
        </div>
    </div>
    <div th:if="${!evals.isEmpty()}">
        <table class="table table-striped table-inverse" border="4">
            <tr>
                <td>Eval ID</td>
                <td>Course Content</td>
                <td>Instruction Quality</td>
                <td>Training Experience</td>
                <td>Textbook or Handouts</td>
                <td>Environment and Seating</td>
                <td>Computer Equipment</td>
                <td>Eval ID</td>
                <td>Like About the Class</td>
                <td>Dislike About the Class</td>
                <td>Suggested Improvements</td>
                <td>Classes to See Offered</td>
                <td>Hear about us</td>
            </tr>
            <!--iterate through all the evaluations for this course-->
            <th:block th:each="eval:${evals}">
                <tr>
                    <td><a th:text="${eval.id}"></a></td>
                    <td><a th:text="${eval.content}"></a></td>
                    <td><a th:text="${eval.quality}"></a></td>
                    <td><a th:text="${eval.experience}"></a></td>
                    <td><a th:text="${eval.materials}"></a></td>
                    <td><a th:text="${eval.environment}"></a></td>
                    <td><a th:text="${eval.equipment}"></a></td>
                    <td><a th:text="${eval.likes}"></a></td>
                    <td><a th:text="${eval.dislikes}"></a></td>
                    <td><a th:text="${eval.suggestions}"></a></td>
                    <td><a th:text="${eval.otherClass}"></a></td>
                    <td><a th:text="${eval.findings}"></a></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>