<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Register Student</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="admin-page">
    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->
    <div>
        <br/>
        <br/>
    </div>
    <div class="container">
        <form action="#"
              th:action="@{/admin/registerstudent}"
              th:object="${newstudent}"
              method="post" >
            <div>
                <br/>
            </div>
            <fieldset>

                <legend>Add Student To Class</legend>

                <!--hide the new person(student) id and the course id they are registering to-->
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{courseStudent.id}" />
                <div class="form-group">
                    <input type="text" th:field="*{mNumber}" name="mNumber" id="mNumber" class="form-control input-lg" placeholder="M Number" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('mNumber')}"  th:errors="*{mNumber}"
                     class="well alert alert-warning" role="alert"></div>
                <div class="form-group">
                    <input type="text" th:field="*{firstName}" name="firstName" id="firstName" class="form-control input-lg" placeholder="First Name" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"
                     class="well alert alert-warning" role="alert"></div>
                <div class="form-group">
                    <input type="text" th:field="*{lastName}" name="lastName" id="lastName" class="form-control input-lg" placeholder="Last Name" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"
                     class="well alert alert-warning" role="alert"></div>

                <div class="form-group">
                    <input type="text" th:field="*{username}" name="username" id="username" class="form-control input-lg" placeholder="Username" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"
                     class="well alert alert-warning" role="alert"></div>

                <div class="form-group">
                    <input type="password" th:field="*{password}" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"
                     class="well alert alert-warning" role="alert"></div>
                <div class="form-group">
                    <input type="text" th:field="*{email}" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"
                     class="well alert alert-warning" role="alert"></div>

                <div class="form-group">
                    <input type="text" th:field="*{startDate}" name="startDate" id="startDate" class="form-control input-lg" placeholder="Start Date (MM/dd/yyyy)" tabindex="3">
                </div>
                <div th:if="${#fields.hasErrors('startDate')}"  th:errors="*{startDate}"
                     class="well alert alert-warning" role="alert"></div>


                <!--th:text="${#dates.format(link.date, 'MMM dd, yyyy')}"-->
                <!--<p th:text="'Sign up date: ' + ${#dates.format(newstudent.startDate, 'MMM dd, yyyy')}" />-->
                <p><input type="submit"  value="Submit" class="btn btn-lg btn-default btn-block" /></p>

            </fieldset>

        </form>
    </div>


    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>