<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>All Students</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

<!--Navigation Admin-->
<nav th:replace="base :: nav2Admin"></nav>
<!--/.Navigation Admin-->



<p>List of All Students in Montgomery College: </p>

<table class="table" border="1">

    <td><strong>ID</strong></td>
    <td><strong>M Number</strong></td>
    <td><strong>First Name</strong></td>
    <td><strong>Last Name</strong></td>
    <td><strong>User Name</strong></td>
    <!--<td><strong>Password</strong></td>-->
    <td><strong>Email Address</strong></td>
    <td><strong>Start Date</strong></td>
    <td><strong>Active</strong></td>

    <!--iterate through all the students-->
    <tr th:each="all:${listOfAllStudents}">
        <td th:text="${all.id}"></td>
        <td th:text="${all.mNumber}"></td>
        <td th:text="${all.firstName}"></td>
        <td th:text="${all.lastName}"></td>
        <td th:text="${all.username}"></td>
        <!--<td th:text="${alls.password}"></td>-->
        <td th:text="${all.email}"></td>
        <td th:text="${all.startDate}"></td>
        <td th:text="${all.active}"></td>

    </tr>
</table>

<!--Link to the Admin Home page-->
<div>
    <a href="/admin/home">Admin Home</a>
</div>



<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>