<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Course Info</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>
<body>

    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->

    <div class="container">
        <!--warning messages to apear-->
        <div  th:if="${courseInstructor==null}">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">No Teacher Assigned to this class!</div>
                    <div class="panel-body">
                        <p><a th:href="@{/admin/addinstructortocourse/{id}(id=${course.id})}">Asign Teacher to class</a></p>
                    </div>
                </div>
            </div>
        </div>



        <h2 th:inline="text">Course information for: [[${course.courseName}]] (CRN: [[${course.crn}]])</h2>
        <!--If the Instructor is not assigned to the course yet, this div will display Instructor: null null:-->
        <hr />

        <div class="center">
            <p>
                <a th:href="@{/admin/admineval/{id}(id=${course.id})}">See Course Evaluations</a>
                -
                <a th:href="@{/admin/addinstructortocourse/{id}(id=${course.id})}">Assign Instructor</a>
            </p>
        </div>
        <hr />

        <h3 th:text="'Instructor: ' + ${courseInstructor?.firstName} + ' ' +${courseInstructor?.lastName}"></h3>

        <p th:text="'Course ID: ' + ${course.id}"/>
        <p th:text="'Course CRN: ' + ${course.crn}"/>
        <p th:text="'Course Name: '+ ${course.courseName}" />
        <p th:text="'Start Date: '+ ${{course.startDate}}" />
        <p th:text="'End Date: '+ ${{course.endDate}}" />
        <p th:text="'Completion Status: '+ ${course.status}" />


        <br>
        <br>
        <h3>List of All Students Registered for the course: </h3>
        <hr />
        <div class="center">
            <p>
                <a th:href="@{/admin/registerstudentforcourse/{id}(id=${course.id})}">Register students for the course</a>
            </p>
        </div>
        <hr />
        <!--Display message if there is no registered ctudents for the course:-->
        <div  th:if="${courseStudents.isEmpty()}">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">No Students Have Registered Course!</div>
                    <div class="panel-body">
                        <p><a th:href="@{/admin/registerstudentforcourse/{id}(id=${course.id})}">Register Student</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--<h3>List of All Students Registered for the course: </h3>-->
        <table class="table table-striped">
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>M Number</strong></td>
                <td><strong>First Name</strong></td>
                <td><strong>Last Name</strong></td>
                <td><strong>User Name</strong></td>
                <td><strong>Email Address</strong></td>
                <td><strong>Start Date</strong></td>
                <td><strong>Active</strong></td>
                <td><strong>Remove from Course</strong></td>
            </tr>
            <!--iterate through all the students for this course-->

            <tr th:each="alls:${courseStudents}">
                <td th:text="${alls.id}"></td>
                <td th:text="${alls.mNumber}"></td>
                <td th:text="${alls.firstName}"></td>
                <td th:text="${alls.lastName}"></td>
                <td th:text="${alls.username}"></td>
                <td th:text="${alls.email}"></td>
                <td th:text="${{alls.startDate}}"></td>
                <td th:text="${alls.active}"></td>
                <td>
                    <a th:href="@{/admin/removestudentfromcourse/{courseid}/{studentid}(courseid=${course.id}, studentid=${alls.id})}">Remove</a>

                    <!--<a th:href="@{/admin/course/{courseid}/removestudentfromcourse/{studentid}(studentid=${alls.id},courseid=${course.id})}">Remove</a>-->
                </td>
            </tr>
        </table>
        <!--<hr />-->


        <!--<p><a th:href="@{/admin/registerstudentforcourse/{id}(id=${course.id})}">Register Student</a></p>-->


    </div>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>