<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Edit My Profile</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>
<body id="admin-page">
    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->
    <div class="container">
        <h2>Update Admin Profile</h2>
        <div>
            <br/>
        </div>
        <form action="#" th:action="@{/admin/processeditprofile}"
              th:object="${aPerson}"
              method="post" >

            <!--hidden id-->
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Username</label>
                <input type="text" th:field="*{username}" name="Username" id="username" class="form-control input-lg" placeholder="Username" tabindex="3" disabled>
            </div>
            <div class="form-group">
                <label>M Number</label>
                <input type="text" th:field="*{mNumber}" name="mNumber" id="mNumber" class="form-control input-lg" placeholder="M Number" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('mNumber')}"  th:errors="*{mNumber}"
                 class="well alert alert-warning" role="alert"></div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" th:field="*{firstName}" name="firstName" id="firstName" class="form-control input-lg" placeholder="First Name" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"
                 class="well alert alert-warning" role="alert"></div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" th:field="*{lastName}" name="lastName" id="lastName" class="form-control input-lg" placeholder="Last Name" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"
                 class="well alert alert-warning" role="alert"></div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" th:field="*{email}" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"
                 class="well alert alert-warning" role="alert"></div>


            <!--th:text="${#dates.format(link.date, 'MMM dd, yyyy')}"-->
            <!--<p th:text="'Sign up date: ' + ${#dates.format(newstudent.startDate, 'MMM dd, yyyy')}" />-->
            <div class="col-xs-6 col-md-6"><input type="submit" value="Enter" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>

            </fieldset>

        </form>
    </div>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>