<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>New Communication</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>
<body id="admin-page">

    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->

    <div class="container">
        <h1>Communication Form</h1>
        <p th:text="'Date today: ' + ${#dates.format(now, 'MMM dd, yyyy')}"></p>

        <form th:action="@{/admin/processcommunication/add}"
              th:object="${aCommunication}"
              method="POST">
            <fieldset>
                <legend>Communication Form</legend>
                <!--//hidden id-->
                <input type="hidden" th:field="*{id}">
                <table>
                <!--//mNumber input-->
                    <tr>
                        <td>   M#:</td><td> <input th:field="*{mNumber}" placeholder="M-Number"></td>
                    </tr>
                    <tr>
                        <td> Name:</td><td> <input th:field="*{name}" placeholder="Contact Name"> </td>
                    </tr>
                    <tr>
                        <td> Phone #: </td> <td><input th:field="*{phoneNumber}" placeholder="Phone Number ex(xxxyyzzzz)"></td>
                    </tr>
                    <tr>
                        <td>  Email:</td> <td><input th:field="*{email}" placeholder="Email"></td>
                    </tr>
                </table>

                <p>   Course:</p>
            <p> <select th:field="*{courseInterestedCRN}">
                    <option value="">--select a course--</option>
                    <option th:each="course: ${courseList}"
                            th:value="${course.crn}"
                            th:text="${course.courseName}">
                    </option>
               </select></p>
                <p>  Call Details: </p>
                <p><textarea th:field="*{callDetails}" col="50" row="4"></textarea></p>
                <input type="submit" value="Submit call/email"></select>

            </fieldset>
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>