<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1 th:text="'Evaluation for ' + ${course.courseName}+ ':'"></h1>

<div class="panel-body">
<th:block th:each="course:${course}">
    <p th:text="${course.crn}" />
    <p th:text="${course.courseName}" />
    <p th:text="${course.startDate}" />
    <p th:text="${course.endDate}" />
    <p th:text="${course.status}" />
</th:block>

    <div th:each="item:${evaluation}">
        <p th:text="${item.content}" />
        <p th:text="${item.quality}" />
        <p th:text="${item.experience}" />
        <p th:text="${item.materials}" />
        <p th:text="${item.environment}" />
        <p th:text="${item.equipment}" />
        <p th:text="${item.likes}" />
        <p th:text="${item.dislikes}" />
        <p th:text="${item.suggestions}" />
        <p th:text="${item.otherClass}" />
        <p th:text="${item.findings}" />
    </div>
</div>
</div>


<!--Link to the Admin Home page-->
<div><a href="/admin/home">Admin Home</a></div>

</body>
</html>