<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Student Details</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="admin-page">
    <nav th:replace="base :: nav2Admin"></nav>
    <div class="container">
        <h1 th:inline="text">Admin View: [[${aStudent.firstName}]] [[${aStudent.LastName}]]'s Details</h1>
        <br />
        <p th:inline="text">Name: [[${aStudent.firstName}]] [[${aStudent.LastName}]]</p>
        <p th:inline="text">M#: [[${aStudent.mNumber}]]</p>
        <p th:inline="text">Username: [[${aStudent.username}]]</p>
        <p th:inline="text">Email: [[${aStudent.email}]]</p>
        <p th:inline="text">Registration Date: [[${aStudent.startDate}]]</p>

        <hr />
        <h3>Contact Information</h3>


        <h3>Courses Enrolled</h3>
        <table class="table table-striped" border="1">
            <tr>
                <td><b>ID</b></td>
                <td><b>CRN</b></td>
                <td><b>Course Name</b></td>
                <td><b>Start Date</b></td>
                <td><b>End Date</b></td>
                <td><b>Class Available</b></td>
                <td><strong>Action</strong></td>
            </tr>


            <!--iterate through all the existed courses-->

            <tr th:each="course:${allCoursesEnrolled}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.crn}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${{course.startDate}}"></td>
                <td th:text="${{course.endDate}}"></td>
                <td th:text="${course.status}"></td>
                <td>
                    <a th:href="@{/admin/removestudentfromcourse/{courseid}/{studentid} (courseid=${course.id} , studentid=${aStudent.id})}">Un-Enroll student from class</a>
                </td>
            </tr>

        </table>

        <h3>Courses Completed</h3>
        <table class="table table-striped" border="1">
            <tr>
                <td><b>ID</b></td>
                <td><b>CRN</b></td>
                <td><b>Course Name</b></td>
                <td><b>Start Date</b></td>
                <td><b>End Date</b></td>
                <td><b>Class Available</b></td>
                <td><strong>Action</strong></td>
            </tr>


            <!--iterate through all the existed courses-->
            <tr th:each="course:${allCoursesEnded}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.crn}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${{course.startDate}}"></td>
                <td th:text="${{course.endDate}}"></td>
                <td th:text="${course.status}"></td>
                <td>
                    student attendance?
                </td>
            </tr>
        </table>

    </div>
    <div th:replace="base :: footer"></div>
</body>
</html>