<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

</head>

<body id="page-top">

<header class="masthead">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
                    <form th:action="@{admin/addstudenttocourse/{crsid}(crsid=${course.id})}" th:object="${aStudent}" method="post">
                        <input type="hidden" th:value="${course.id}">
                        <h2> <label th:inline="text">Adding a student for [[${course.courseName}]]</label></h2>
                        <select name="crs">
                            <option th:each="aStudent:${students}" th:value="${aStudent.id}" th:text="${aStudent.firstName}+' '+${aStudent.lastName}"></option>
                        </select><br/>
                        <p><input type="submit" value="Add a Student!"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- Bootstrap core JavaScript -->

</div>

</body>

</html>