<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Course Add Student</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>


<body id="page-top">
    <!--Navigation Admin-->
    <nav th:replace="base :: nav2Admin"></nav>
    <!--/.Navigation Admin-->
    <div class="container">
        <form action="#"
              th:action="@{/admin/addstudenttocourse/{crsid}(crsid=${course.id})}"
              th:object="${aStudent}"
              method="post">
            <legend>Add Course</legend>
            <fieldset>
                <input type="hidden" th:value="${course.id}">
                <h2> <label th:inline="text">Adding a student for [[${course.courseName}]]</label></h2>
                <select name="crs">
                    <option th:each="aStudent:${students}" th:value="${aStudent.id}" th:text="${aStudent.firstName}+' '+${aStudent.lastName}"></option>
                </select><br/>
                <p><input type="submit" value="Add a Student!"></p>
            </fieldset>
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>