<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UpdateCommunication</title>
</head>
<body>
<div class="container">
    <h1>Update Communication Form</h1>
    <p th:text="'Date today: ' + ${#dates.format(now, 'MMM dd, yyyy')}"></p>

    <form th:action="@{/admin/processcommunication/update}"
          th:object="${aCommunication}"
          method="POST">
        <fieldset>
            <!--//hidden id-->
            <input type="hidden" th:field="*{id}">
            <!--//mNumber input-->
            M#: <input th:field="*{mNumber}">
            Name: <input th:field="*{name}">
            Phone #: <input th:field="*{phoneNumber}">
            Email: <input th:field="*{email}">
            Course:
            <select th:field="*{courseInterestedCRN}">
                <option value="">--select a course--</option>
                <option th:each="course: ${courseList}"
                        th:value="${course.crn}"
                        th:text="${course.courseName}">
                </option>
            </select>
            Call Details: <textarea th:field="*{callDetails}" col="50" row="4"></textarea>
            <input type="submit" value="Submit call/email"></select>

        </fieldset>
    </form>
</div>
</body>
</html>