<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <h2 th:inline="text">Course information for [[${item.courseCode}]]</h2>

    <p th:text="'Course ID: ' + ${course.Id}"/>
    <p th:text="'Course CRN: ' + ${course.Crn}"/>
    <p th:text="'Course Name: '+ ${course.courseName}" />
    <p th:text="'Start Date: '+ ${course.startDate}" />
    <p th:text="'End Date: '+ ${course.endDate}" />
    <p th:text="'Completion Status: '+ ${course.status}" />



    <p>Course Instructors: </p>
    <th:block th:each="all:${courseInstructors}">
        <p th:text="'Instructor: ' + ${all.firstName} + ' ' +${all.lastName} "/>
    </th:block>



    <!--ToDo-->
    <!--link to the course evaluations-->



    <!--ToDo: Need to complete it:-->
    <p>List of All Students Registered for the Cource: </p>

    <table class="table">

        <td><strong>ID</strong></td>
        <td><strong>First Name</strong></td>
        <td><strong>Last Name</strong></td>
        <td><strong>User Name</strong></td>
        <td><strong>Password</strong></td>
        <td><strong>Email Address</strong></td>

        <tr th:each="i:${lstudents}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.firstName}"></td>
            <td th:text="${i.lastName}"></td>
            <td th:text="${i.username}"></td>
            <td th:text="${i.password}"></td>
            <td th:text="${i.email}"></td>

        </tr>
    </table>


</body>
</html>