<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Test Form</title>

    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->

</head>
<body id="admin-page">
    <div class="container">
        <!--Navigation Admin-->
        <nav th:replace="base :: nav2Admin"></nav>
        <!--/.Navigation Admin-->


        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- /.Footer -->
    </div>

</body>
</html>