<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Dear<strong><span th:text="recipent"></span></strong>
</p>

<p style="align:center">
    <img src="http://learningbycoding.com/img/logoexport2.png"/>
</p>
<p>
    you just uploaded a file to this site.
</p>
<p>
    Sincerely,
    Webmaster.
</p>
</body>
</html><span class="redactor-selection-maker" id="selection-maker-1" data-verfied="redaction"></span>