<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

<!--Navigation Student-->
<nav th:replace="base :: nav2Student"></nav>
<!--/.Navigation Student-->

<!--<table class="table">-->

    <!--<th><strong>ID</strong></th>-->
    <!--<th><strong>First Name</strong></th>-->
    <!--<th><strong>Last Name</strong></th>-->
    <!--<th><strong>Email Address</strong></th>-->

    <!--<tr th:each="i:${allusers}">-->
        <!--<td th:text="${i.id}"></td>-->
        <!--<td th:text="${i.firstName}"></td>-->
        <!--<td th:text="${i.lastName}"></td>-->
        <!--<td th:text="${i.emailAddress}"></td>-->
        <!--<td th:text="${i.id}"></td>-->
        <!--<td th:text="${i.firstName}"></td>-->
        <!--<td th:text="${i.lastName}"></td>-->
        <!--<td th:text="${i.emailAddress}"></td>-->
        <!--<td th:text="${i.id}"></td>-->
        <!--<td th:text="${i.firstName}"></td>-->
        <!--<td th:text="${i.lastName}"></td>-->
        <!--<td th:text="${i.emailAddress}"></td>-->
        <!--<td th:text="${i.id}"></td>-->
        <!--<td th:text="${i.firstName}"></td>-->
        <!--<td th:text="${i.lastName}"></td>-->
        <!--<td th:text="${i.emailAddress}"></td>-->

        <!--<td>-->
            <!--<a th:href="@{/detail/{id}(id=${i.id})}">Details</a>-->
            <!--<a th:href="@{/update/roboUser/{id} (id=${i.id})}">Update</a>-->
            <!--<a th:href="@{/delete/roboUser/{id} (id=${i.id})}">Delete</a>-->


            <!--&lt;!&ndash;<a th:href="@{/update/{id}(id=${i.id})}">Update</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a th:href="@{/delete/department/{id} (id=${i.id})}">Delete</a>&ndash;&gt;-->
        <!--</td>-->

    <!--</tr>-->
<!--</table>-->

<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>