<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div  th:if="${searcheval.isEmpty()}">
    <p>No matching course is found!</p>
</div>


<div  th:if="${!searcheval.isEmpty()}">
<table>
    <tr>
        <th>CRN</th>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>End Date</th>


    </tr>

    <tr>
        <th:block th:each="item:${searcheval}">
        <td th:text="${item.crn}"></td>
        <td th:text="${item.courseName}"></td>
        <td th:text="${item.startDate}"></td>
        <td th:text="${item.endDate}"></td>
            <td><a th:href="@{/eval/evaluationentry/{id}(id=${item.id})}">Evaluate this course</a></td>
        </th:block>

    </tr>


</table>
</div>
</body>
</html>