<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>CRN</th>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>End Date</th>


    </tr>
        <td th:text="${itemz.crn}"></td>
        <td th:text="${itemz.courseName}"></td>
        <td th:text="${itemz.startDate}"></td>
        <td th:text="${itemz.endDate}"></td>

    </tr>

    <a href="evaluationentry.html">Evaluate this course</a>

</table>
</body>
</html>