<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

    <title>Eval Search Course</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

<!--Navigation Student-->
<nav th:replace="base :: nav2Student"></nav>
<!--/.Navigation Student-->
<div>
    <br/>
    <br/>
    <br/>
</div>
<div class="container">
    <h1>Evaluate a Course</h1>
    <div>
        <br/>
    </div>
    <div>
        <form  th:action="@{/eval/searchcourse}"  method="post">
            <div class="container">
            <h4>You need to provide a Course Registration Number(CRN) to fill out Evaluation</h4><br/>
            <!--<p>Enter CRN Number: <input required type="number" name="crnfield" placeholder="Course CRN"/></p>-->
            <div class="form-group">
            <p>Enter CRN Number: <input required type="number" name="crnfield" class="form-control input-lg" placeholder="Course CRN" tabindex="3"/></p>
            </div>
            <!--<div class="form-group">-->
                <!--<input type="text" th:field="*{crn}" name="crn" id="crn" class="form-control input-lg" placeholder="Course CRN" tabindex="3">-->
            <!--</div>-->
            <p><input type="submit" value="Search By CRN" /><input type="reset" value="Reset" /></p>
            </div>
        </form>
    </div>

    <!--<div>-->


        <!--<form id="inner-form" class="form-horizontal form" th:action="@{eval/searchresult}">-->


            <!--<div>-->
                <!--<table class="table table-inverse">-->
                    <!--<tr>-->
                        <!--<th:block th:each="item:${searcheval}">-->
                            <!--<td><b>CRN</b></td>  <td th:text="${item.crn}"></td>-->
                            <!--<td><b>Course Name</b></td> <td th:text="${item.courseName}"></td>-->
                            <!--<td><b>Start Date</b></td> <td th:text="${item.startDate}"></td>-->
                            <!--<td><b>End Date</b></td> <td th:text="${item.endDate}"></td>-->
                            <!--<td><a th:href="@{/eval/evaluationentry/{id}(id=${item.id})}">Evaluate this course</a></td>-->
                        <!--</th:block>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->

        <!--</form>-->

    <!--</div>-->
</div>

<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>