<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>CRN</th>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>End Date</th>


    </tr>

    <tr>
        <td th:text="${searcheval.crn}"></td>
        <td th:text="${searcheval.courseName}"></td>
        <td th:text="${searcheval.startDate}"></td>
        <td th:text="${searcheval.endDate}"></td>



    </tr>
    <a th:href="@{/eval/evaluationentry/{id}(id=${searcheval.id})}">Evaluate this course</a>

</table>
</body>
</html>