<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

    <title>Eval Search Course</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

<!--Navigation Student-->
<nav th:replace="base :: nav2Student"></nav>
<!--/.Navigation Student-->

<div class="container">
    <div>
        <form  th:action="@{/eval/searchcourse}"  method="post">

            <p>Enter CRN Number: <input required type="number" name="crnfield" placeholder="Course CRN"/></p>

            <p><input type="submit" value="Search By CRN" /><input type="reset" value="Reset" /></p>

        </form>
    </div>

    <!--<div>-->


        <!--<form id="inner-form" class="form-horizontal form" th:action="@{eval/searchresult}">-->


            <!--<div>-->
                <!--<table class="table table-inverse">-->
                    <!--<tr>-->
                        <!--<th:block th:each="item:${searcheval}">-->
                            <!--<td><b>CRN</b></td>  <td th:text="${item.crn}"></td>-->
                            <!--<td><b>Course Name</b></td> <td th:text="${item.courseName}"></td>-->
                            <!--<td><b>Start Date</b></td> <td th:text="${item.startDate}"></td>-->
                            <!--<td><b>End Date</b></td> <td th:text="${item.endDate}"></td>-->
                            <!--<td><a th:href="@{/eval/evaluationentry/{id}(id=${item.id})}">Evaluate this course</a></td>-->
                        <!--</th:block>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->

        <!--</form>-->

    <!--</div>-->
</div>

<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>