
/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size:18px;
}


/* header */

.halfpic {
    display: table;
    position: relative;
    width: 100%;
    height: 45%;
    background: url(../img/m2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-vertical-center h1 {
    margin: 10px;
    padding: 10px;
    font-size: 3.8vw;
    font-weight: 400;
    color: rgb(232, 229, 229);
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/*navbar shape*/
.navbar {
    border-radius: 0;
}

/* new section */
section {
    padding: 30px 0;
}


/* Footer */
footer {
    padding: 100px 0;
}

