<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>

    <title>Admin/Teacher Login</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>


    <!--Navigation Default-->
    <nav th:replace="base :: nav2Default"></nav>
    <!--/.Navigation Default-->

    <div class="container" id="login">

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div><!-- /.container -->

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>