<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>New Teacher</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>


<!--Navigation Default-->
<nav th:replace="base :: nav2Default"></nav>
<!--/.Navigation Default-->

<div class="container">
    <div class="col-lg-8" style="padding-left:25%">
    <form autocomplete="off" action="#"
          th:action="@{/registrationteacher}"
          th:object="${newTeacher}"
          method="post" >
        <div>
            <br/>
        </div>
        <h2>Teacher Registration Form:</h2>
        <div>
            <br/>
        </div>

        <div class="form-group">
            <h4>M Number</h4>
            <input type="text" class="form-control" th:field="*{mNumber}"/>
        </div>
        <div th:if="${#fields.hasErrors('mNumber')}"  th:errors="*{mNumber}"
             class="well alert alert-warning" role="alert"></div>

        <div class="form-group">
            <h4>First Name</h4>
            <input type="text" class="form-control" th:field="*{firstName}"/>
        </div>
        <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"
             class="well alert alert-warning" role="alert"></div>

        <div class="form-group">
            <h4> Last Name  </h4>
            <input type="text" class="form-control" th:field="*{lastName}"/>
        </div>
        <div th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"
             class="well alert alert-warning" role="alert"></div>

        <div class="form-group">
            <h4> Username  </h4>
            <input type="text" class="form-control" th:field="*{username}"/>
        </div>
        <div th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"
             class="well alert alert-warning" role="alert"></div>

        <div class="form-group">
            <h4> Password  </h4>
            <input type="password" class="form-control"th:field="*{password}"/>
        </div>
        <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"
             class="well alert alert-warning" role="alert"></div>

        <div class="form-group">
            <h4> Email  </h4>
            <input type="text" class="form-control" th:field="*{email}"/>
        </div>
        <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"
             class="well alert alert-warning" role="alert"></div>
        <p><input type="submit"  value="Submit" class="btn btn-lg btn-default btn-block" /></p>
    </form>
</div>

<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->

</body>
</html>