<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>View Courses</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>
<!--Navigation Student-->
<nav th:replace="base :: nav2Student"></nav>
<!--/.Navigation Student-->

<div class="container">
    <h1>View Courses (insecure)</h1>
    <table  class="table table-striped" border="1">
        <tr>
            <th>Id</th>
            <th>CRN</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Course In Progress</th>
            <!--<th>Action</th>-->
        </tr>
        <tr th:each="course:${courseList}">
            <td th:text="*{course.id}"></td>
            <td th:text="*{course.crn}"></td>
            <td th:text="*{course.courseName}"></td>
            <td th:text="*{course.startDate}"></td>
            <td th:text="*{course.endDate}"></td>
            <td th:text="*{course.status}"></td>
            <!--<td>-->
                <!--<a th:href="@{/teacher/detailsofacourse/{id} (id=*{course.id})}">Register for class</a>-->
            <!--</td>-->
        </tr>
    </table>
    <h3><a href="/">Go Home</a></h3>
</div>


    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>