<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Welcome Page</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/carousel.css">

</head>
<body>

<header class="fulpic">
    <!--Main Content -->

    <div class="text_onhomepage">
        <h1 class="display-3" class="white_text"><b>Start Learning Today!</b></h1>
        <h2 class="lead" class="white_text"><b>It is never late to start learning what you Love!</b></h2>
        <br>

        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <p>
            <a class="btn btn-default btn-lg" href="/viewcourses" role="button">Current Courses</a>
        </p>
    </div>

</header>

    <!--Navigation Welcome-->
    <nav th:replace="base :: nav2Welcome"></nav>


    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>