<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>
</head>
<body>
    <h1>This is the welcome page!</h1>
    <br />
    <p><a href="/teacher/home">Teacher Home</a></p>
    <p><a href="/admin/home">Admin Home</a></p>
    <p><a href="/eval/home">Eval Home</a></p>
    <br />
    <p><a href="/login">Login</a></p>
    <p><a href="/viewcourses">View Courses/Register</a></p>
</body>
</html>