<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <Title>Register Student To Courses</Title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="teacher-page">
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">
        <div class="col-lg-8">
    <form action="#"
          th:action="@{/teacher/addstudent/{id}(id=${course.id})}"
          th:object="${newstudent}"
          method="post" >
        <fieldset>
            <!--<legend>Register Student to Course</legend>-->
            <div>
                <br/>
            </div>
        <!--<input type="text" th:field="*{perosn.id}" />-->
            <h2><label th:inline="text">Register Student for [[${course.courseName}]]</label></h2>
            <div>
                <br/>
            </div>

            <div class="form-group">
                <input type="text" th:field="*{mNumber}" name="mNumber" id="mNumber" class="form-control input-lg" placeholder="M Number" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('mNumber')}"  th:errors="*{mNumber}"
                 class="well alert alert-warning" role="alert"></div>
            <div class="form-group">
                <input type="text" th:field="*{firstName}" name="firstName" id="firstName" class="form-control input-lg" placeholder="First Name" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"
                 class="well alert alert-warning" role="alert"></div>
            <div class="form-group">
                <input type="text" th:field="*{lastName}" name="lastName" id="lastName" class="form-control input-lg" placeholder="Last Name" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"
                 class="well alert alert-warning" role="alert"></div>


            <div class="form-group">
                <input type="email" th:field="*{email}" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="3">
            </div>
            <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"
                 class="well alert alert-warning" role="alert"></div>


            <!--th:text="${#dates.format(link.date, 'MMM dd, yyyy')}"-->
            <!--<p th:text="'Sign up date: ' + ${#dates.format(newstudent.startDate, 'MMM dd, yyyy')}" />-->

        <!--<p th:text="'Sign up time: ' + *{startDate)}">-->

        <!--th:text="${#dates.format(link.date, 'MMM dd, yyyy')}"-->
        <p th:text="'Sign up date: ' + ${#dates.format(newstudent.startDate, 'MMM dd, yyyy')}" />
            <div class="col-xs-6 col-md-6"><input type="submit" value="Enter" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>

        </fieldset>
    </form>


    </div>
    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>