<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Confirm Student M Number</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">
        <h2>You have been registered for the course</h2>

        <p th:text="'M number: ' + ${newstudent.mNumber}"></p>
        <p th:text="'First Name: ' + ${newstudent.firstName}"></p>
        <p th:text="'Last Name: ' + ${newstudent.lastName}"></p>
        <!--<p th:text="${newstudent.username}"></p>-->
        <p th:text="'Email: ' + ${newstudent.email}"></p>


        <p><a th:href="@{/teacher/detailsofacourse/{id} (id=${course.id})}">Back to Course Details</a></p>
        <!--<p><a th:href="@{/teacher/listallcourses}">Back to all course</a></p>-->
        <!--<p><a th:href="@{/teacher/listallstudents/{courseId}(courseId=${course.id})}">Validate student's info</a></p>-->
        <p><a th:href="@{/teacher/addstudentstocourse/{id}(id=${course.id})}">Register another students for the course</a></p>

    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>