<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Details of a course info</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>
<!--Navigation Teacher-->
<nav th:replace="base :: nav2Teacher"></nav>
<!--/.Navigation Teacher-->
<div class="container">


<p th:utext="${message}"/>
<p><a th:href="@{|/teacher/listallstudents/${courseId}|}"> Back to list of students</a></p>
    <p><a th:href="@{|/teacher/detailsofacourse/${courseId}|}"> Back to detail of the course</a></p>

</div>
<!-- Footer -->
<div th:replace="base :: footer"></div>
<!-- /.Footer -->
</body>
</html>
</body>
</html>