<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Details of a course info</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="teacher-page">
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">

        <h2 th:inline="text">Course information for: [[${course.courseName}]] (CRN:[[${course.crn}]])</h2>
        <!--If the Instructor is not assigned to the course yet, this div will display Instructor: null null:-->
        <!--<h3 th:text="'Instructor: ' + ${courseInstructor.firstName} + ' ' +${courseInstructor.lastName}"></h3>-->
        <!--<p><a th:href="@{/teacher/listallcourses}">Back to my course</a></p>-->

        <hr/>
        <div class="center">
            <!--<a th:href="@{/teacher/addstudentstocourse/{id}(id=${course.id})}">Register students for the course</a>-->
            <!-- - -->
            <th:block th:if="${!test4att.isEmpty() && !test4stt.isEmpty()}">
            <a th:href="@{/teacher/courseend/{id}(id=${course.id})}">Course has Ended</a> -
            </th:block>
            <a th:href="@{/teacher/displayallevalsofonecourse/{id}(id=${course.id})}">See Course Evaluations</a> -
            <a th:href="@{/teacher/sendevaluation/{id}(id=${course.id})}">Recieve Evaluation in Email</a>
            <!--<a th:href="@{/teacher/attforonecourse/{id}(id=${course.id})}">See Attendance Record</a>-->
            -
            <a th:href="@{/teacher/addstudentstocourse/{id}(id=${course.id})}">Register students for the course</a>
        </div>
        <hr />

        <p th:text="'Course ID: ' + ${course.id}"/>
        <p th:text="'Course Name: '+ ${course.courseName}" />
        <p th:text="'Course CRN:' + ${course.crn}"/>
        <p th:text="'Course StartDate:' + ${{course.startDate}}"/>
        <p th:text="'Course EndDate:' + ${{course.endDate}}"/>
        <p th:text="'Course Status:' + ${course.status}"/>

        <div/>
        <br/>
        <br/>
    </div>

    <h2>List of students who registered for the course: </h2>

    <!--warning message panel if student list is empty-->
    <div  th:if="${studentsofACourse.isEmpty()}">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">No Students Taking Course!</div>
                <div class="panel-body">
                    <p><a th:href="@{/teacher/addstudentstocourse/{id}(id=${course.id})}">Register students for the course</a></p>
                </div>
            </div>
        </div>
    </div>

    <div  th:if="${!studentsofACourse.isEmpty()}">

        <hr/>
        <div class="center">
            <a th:href="@{/teacher/listallstudents/{courseId}/(courseId=${course.id})}">Validate students/update M-number</a>
            -
            <a th:href="@{/teacher/markattendance/{courseId}(courseId=${course.id})}">Mark Attendance</a>
            -
            <a th:href="@{/teacher/attforonecourse/{id}(id=${course.id})}">See Attendance Record</a>

        </div>
        <hr/>


        <table class="table table-striped" border="1">
            <tr>
                <!--<td><strong>ID</strong></td>-->
                <td><strong>M Number</strong></td>
                <td><strong>First Name</strong></td>
                <td><strong>Last Name</strong></td>
                <td><strong>Email Address</strong></td>
                <td><strong>Start Date</strong></td>
                <td><strong>Student Status</strong></td>
                <td><strong>Action</strong></td>
            </tr>
            <!--iterate through all the students for this course-->

            <tr th:each="alls:${studentsofACourse}">
                <!--<td th:text="${alls.id}"></td>-->
                <td th:text="${alls.mNumber}"></td>
                <td th:text="${alls.firstName}"></td>
                <td th:text="${alls.lastName}"></td>
                <td th:text="${alls.email}"></td>
                <td th:text="${{alls.startDate}}"></td>
                <td th:text="${alls.active}"></td>
                <td>
                    <a th:href="@{/teacher/delete/{courseId}/{studentId}(courseId=${course.id}, studentId=${alls.id})}">Remove</a>

                    <!--<a th:href="@{/admin/course/{courseid}/removestudentfromcourse/{studentid}(studentid=${alls.id},courseid=${course.id})}">Remove</a>-->
                </td>
            </tr>
        </table>
    </div>

    <br/>

    <!--<p><a th:href="@{/teacher/displayoneeval/{id}(id=${course.id})}"> see evaluation</a></p>-->




    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>