<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Student Attendance</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="teacher-page">
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">

        <p>Student Attendance: </p>
        <!--<p th:text="'Date today: ' + ${#dates.format(now, 'MMM dd, yyyy')}"></p>-->

        <p th:text="'Date for the attendance: ' + ${attdate}"></p>

        <p th:text="'Course: ' + ${course.courseName}"></p>

        <br/>
        <br/>

        <div  th:if="${!studentsofACourse.isEmpty()}">

            <th:block th:each="student:${studentsofACourse}">
                <p th:text="'Student Full Name: ' + ${student.firstName} + ' ' +${student.lastName} "></p>
                <p th:text="'Student Email:' + ${student.email}"></p>

                <th:block th:each="att:${student.attendances}">
                    <p th:text="'Attendance Id (just for checking): ' + ${att.id}"></p>
                    <p th:text="'Date: ' + ${{att.date}}"></p>
                    <p th:text="'Attendance Status: ' + ${att.status}"></p>

                </th:block>
            </th:block>

            <br/>
            <br/>
        </div>

        <div  th:if="${studentsofACourse.isEmpty()}">
            <p>No information available!</p>
        </div>

        <p>
            <a th:href="@{/teacher/detailsofacourse/{id} (id=${course.id})}">Back to Course Page</a>
        </p>


    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>