<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table">

    <td><strong>ID</strong></td>
    <td><strong>First Name</strong></td>
    <td><strong>Last Name</strong></td>
    <td><strong>User Name</strong></td>
    <td><strong>Password</strong></td>
    <td><strong>Email Address</strong></td>

    <tr th:each="i:${lstudents}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.firstName}"></td>
        <td th:text="${i.lastName}"></td>
        <td th:text="${i.username}"></td>
        <td th:text="${i.password}"></td>
        <td th:text="${i.email}"></td>

        <td>
            <!--<a th:href="@{/detail/{id}(id=${i.id})}">Details</a>-->

        </td>

    </tr>
</table>
</body>
</html>