<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>All Evaluations</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">


        <!--Section II-->
        <h2>Section II: Rating of the Course</h2>
        <table class="table table-striped" border="1">
            <tr>
                <td><b>Eval ID</b></td>
                <td><b>Course Content</b></td>
                <td><b>Instruction Quality</b></td>
                <td><b>Training Experience</b></td>
                <td><b>Textbook or Handouts</b></td>
                <td><b>Environment and Seating</b></td>
                <td><b>Computer Equipment</b></td>
            </tr>
            <!--iterate through all the evaluations for this course-->
            <th:block th:each="eval:${neweval}">
                <tr>
                    <td th:text="${eval.id}"></td>
                    <td th:text="${eval.content}"></td>
                    <td th:text="${eval.quality}"></td>
                    <td th:text="${eval.experience}"></td>
                    <td th:text="${eval.materials}"></td>
                    <td th:text="${eval.environment}"></td>
                    <td th:text="${eval.equipment}"></td>
                </tr>
            </th:block>
        </table>



        <!--Section III-->
        <h2>Section III: Comments</h2>
        <table class="table table-striped" border="1">
            <tr>
                <td><b>Eval ID</b></td>
                <td><b>Like About the Class</b></td>
                <td><b>Dislike About the Class</b></td>
                <td><b>Suggested Improvements</b></td>
                <td><b>Classes to See Offered</b></td>
            </tr>

            <!--iterate through all the evaluations for this course-->
            <th:block th:each="eval:${neweval}">
                <tr>
                    <td th:text="${eval.id}"></td>
                    <td th:text="${eval.likes}"></td>
                    <td th:text="${eval.dislikes}"></td>
                    <td th:text="${eval.suggestions}"></td>
                    <td th:text="${eval.otherClass}"></td>
                </tr>
            </th:block>
        </table>


        <!--Section IV-->
        <h2>Section IV: Optional</h2>
        <table class="table table-striped" border="1">
            <tr>
                <td><b>Eval ID</b></td>
                <td><b>How did you find out about the class</b></td>
            </tr>

            <!--iterate through all the evaluations for this course-->
            <th:block th:each="eval:${neweval}">
                <tr>
                    <td th:text="${eval.id}"></td>
                    <td th:text="${eval.findings}"></td>
                </tr>
            </th:block>
        </table>

    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>