<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Eval Course</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">

        <th:block th:each="item:${matchevtocr}">

            <h2 th:inline="text">Course information </h2>

            <p th:text="' ' + ${item.id}"/>
            <p th:text="':' + ${item.content}"/>
        </th:block>
    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>