<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all course of a teacher</title>
</head>
<body>

<th:block th:each="item:${allcoursesofaInstructor}">

    <h2 th:inline="text">Course information for [[${item.courseName}]]</h2>

    <p th:text="'Course ID: ' + ${item.id}"/>
    <p th:text="'Course CRN:' + ${item.crn}"/>
    <p th:text="'Course Name: '+ ${item.courseName}" />
    <!--<p>Course Instructor: </p>-->
    <!--<th:block th:each="ins:${item.instructor}">-->
        <!--<p th:text="'Instructor: ' + ${ins.firstName} + ' ' +${ins.lastName} "/>-->
    <!--</th:block>-->
    <!--<p th:text="'Students registed for the courses:' + "/>-->

    <p><a th:href="@{/detailsofacourse/{id}(id=${item.id})}">Show details</a></p>
</th:block>


</body>
</html>