<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>List of all courses of a teacher</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body>
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container">

        <div  th:if="${!allcoursesofaInstructor.isEmpty()}">
            <h2>List of Courses</h2>
            <br/>

            <table class="table table-striped" border="1">
                <tr>
                    <th>Course Id</th>
                    <th>Course Name</th>
                    <th>Course Crn</th>
                    <th>Active</th>
                </tr>
                <tr th:each="item:${allcoursesofaInstructor}">
                    <td th:text="${item.id}"/>
                    <td><a th:href="@{/teacher/detailsofacourse/{id} (id=${item.id})}" th:inline="text">[[${item.courseName}]]</a></td>
                    <td th:text="${item.crn}"/>
                    <td th:text="${item.status}"/>
                </tr>
            </table>

        </div>

        <div  th:if="${allcoursesofaInstructor.isEmpty()}">
            <h3>You are not assigned to teach any course yet.</h3>
        </div>

    </div>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>