<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Student Search Result</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="teacher-page">
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">


        <table class="table">

            <h3>Student with validated IDs</h3>
            <td><strong>ID</strong></td>
            <td><strong>M-Number</strong></td>
            <td><strong>First Name</strong></td>
            <td><strong>Last Name</strong></td>
            <td><strong>Email Address</strong></td>

            <tr th:each="student:${validatedstudent}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.mNumber}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>

                <!--<td>-->
                <!--<a th:href="@{/detail/{id}(id=${i.id})}">Details</a>-->

                <!--</td>-->

            </tr>
        </table>



        <table class="table">


            <h3>Student without validated IDs</h3>
            <td><strong>ID</strong></td>
            <td><strong>M-Number</strong></td>
            <td><strong>First Name</strong></td>
            <td><strong>Last Name</strong></td>
            <td><strong>Email Address</strong></td>

            <tr th:each="student:${unvalidatedstudent}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.mNumber}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>

                <td>
                    <a th:href="@{/teacher/delete/{courseId}/{studentId}(courseId=${course.id} ,studentId=${student.id})}">Delete</a>

                </td>
                <td>
                    <a th:href="@{/teacher/update/{courseId}/{studentId}(courseId=${course.id} ,studentId=${student.id})}">Update</a>
                </td>

            </tr>
        </table>

        <h4>Search result (Matching students)</h4>


        <p th:text="${message}"></p>

        <div  th:if="${searchstudent.isEmpty()}">
            <h4>No matching students found!</h4>

            <hr/>
            <div>
                <a th:href="@{/teacher/listallstudents/{courseId}/(courseId=${course.id})}">Search again</a>
                -
                 <a th:href="@{/teacher/detailsofacourse/{courseId}/(courseId=${course.id})}">Back to course detail</a>
            </div>
            <hr/>
        </div>

        <div  th:if="${!searchstudent.isEmpty()}">
            <hr/>
            <div>
                <a th:href="@{/teacher/listallstudents/{courseId}/(courseId=${course.id})}">Search again</a>
                -
                <a th:href="@{/teacher/detailsofacourse/{courseId}/(courseId=${course.id})}">Back to course detail</a>
            </div>
            <hr/>

            <table class="table">

                <thead>
                <tr>

                    <td><strong>ID</strong></td>
                    <td><strong>M-Number</strong></td>
                    <td><strong>First Name</strong></td>
                    <td><strong>Last Name</strong></td>
                    <td><strong>Email Address</strong></td>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="student:${searchstudent}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.mNumber}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                </th:block>
                </tbody>
            </table>

        </div>


    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>