<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <title>Attendance One Course</title>
    <!-- Header -->
    <th:block th:replace="base :: header"></th:block>
    <!-- /.Header -->
</head>
<body id="teacher-page">
    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->
    <div class="container-loggeduser">
        Logged user:  <span sec:authentication="name">The Teacher is not logged in yet</span>
    </div>

    <div class="container">
        <h3>Course Information</h3>
        <table class="table table-striped" border="1">
            <tr>
                <th>Course Id:</th>
                <th>Course Name:</th>
                <th>Course Crn:</th>
            </tr>
            <tr>
                <td th:text="*{course.id}"/>
                <td th:text="*{course.courseName}"/>
                <td th:text="*{course.crn}"/>

            </tr>
        </table>

        <br/>

        <h3>Student Attendance </h3>

        <table class="table table-striped" border="1">

            <tr>
        <th>Student ID</th>
        <th>Student name</th>
        <th>Student M-number</th>
        <th:block th:each="item:${onestu.attendances}">
            <th th:text="${item.date}"></th>
        </th:block>
            </tr>

    <tr th:each="student:${studentofacourse}">
        <td th:text="${student.id}"/>
        <td th:text="${student.firstName} + ' ' + ${student.lastName}"/>
        <td th:text="${student.mNumber}">not available</td>
        <th:block th:each="att:${student.attendances}">
        <td th:text="${att.status}"></td>
        </th:block>
    </tr>

        </table>
    </div>
    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->
</body>
</html>