<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Course Id:</th>
        <th>Course Name:</th>
        <th>Course Crn:</th>
    </tr>
    <tr>
        <td th:text="*{course.id}"/>
        <td th:text="*{course.courseName}"/>
        <td th:text="*{course.crn}"/>

    </tr>
</table>

<table border="1">

    <tr>
        <th>Student ID</th>
        <th>Student name</th>
        <th>Student M-number</th>
        <th:block th:each="item:${onestu.attendances}">
            <th th:text="${item.date}"></th>
        </th:block>

    </tr>

    <!--<tr th:each="item:${studentofacourse}">-->
        <!--<td th:text="${item.firstName} + ' ' + ${item.lastName}"/>-->
        <!--<td th:each="att:${item.attendances}"></td>-->
        <!--<td th:text="${att.status}"></td>-->
    <!--</tr>-->


</table>


</body>
</html>