<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Teacher Home Page</title>
</head>
<body>
    <h1>Teacher Home Page</h1>

    <p>My profile</p>

    <p th:text="'Instructor Id: ' + ${instructor.id}"></p>
    <p th:text="'Instructor MNumber: ' + ${instructor.mNumber}"></p>
    <p th:text="'Instructor Name: ' + ${instructor.firstName} + ' ' +${instructor.lastName} "></p>
    <p th:text="'Instructor email: ' + ${instructor.email}"></p>

    <p>My Courses links</p>
    <p><a href="/listallcourses">All my courses</a></p>
</body>
</html>