<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Teacher Home Page</title>

    <!-- Header -->
    <div th:replace="base :: header"></div>
    <!-- /.Header -->

</head>
<body>

    <!--Navigation Teacher-->
    <nav th:replace="base :: nav2Teacher"></nav>
    <!--/.Navigation Teacher-->

    <h1>Teacher Home Page</h1>

    <p>My profile</p>

    <p th:text="'Instructor Id: ' + ${instructor.id}"></p>
    <p th:text="'Instructor MNumber: ' + ${instructor.mNumber}"></p>
    <p th:text="'Instructor Name: ' + ${instructor.firstName} + ' ' +${instructor.lastName} "></p>
    <p th:text="'Instructor email: ' + ${instructor.email}"></p>

    <p>My Courses links</p>
    <p><a href="/teacher/listallcourses">All my courses</a></p>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- /.Footer -->

</body>
</html>